force-rebuild=0
package-type=gmsh

#input.surface.filename=$repository/angiotk/spring/surfacefromimage/spring_up_spacing0.0002.stl
input.surface.filename=$repository/angiotk/spring/surfacefromimage/spring_up_spacing0.01.stl
output.directory=angiotk/spring/remeshgmsh

gmsh.centerlines.filename=$repository/angiotk/spring/centerlinesmanager/spring_up.vtk
gmsh.nb-points-in-circle=15#20
gmsh.remesh-partition.force-rebuild=0
gmsh.radius-uncertainty=0.0002

pre-process.open-surface=1
[open-surface]
force-rebuild=0
distance-clip.scaling-factor=0 #.0005#0.01#0.0005#0
radius-uncertainty=0.0005#0#0.01#0.0005
